server:
  port: 8081

spring:
  datasource:
    url: jdbc:postgresql://user-db:5432/users  
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: none   
    show-sql: true

  sql:
    init:
      mode: always   
